@model Sociatis.Models.Companies.CompanyManagementViewModel
@{
    ViewBag.Title = "Company management";
}

@Html.DisplayFor(m => m.Info)

<div class="ContentBox" id="companyManagement">

    <h3 class="text-center">Company owner</h3>

    <div class="centerHorizontalFlex">
        @if (Model.Founder == null)
        {
            <span>Company has no owner</span>
        }
        else
        {
            @Html.DisplayFor(m => m.Founder)
        }
    </div>

    <h4 class="text-center"> Managers </h4>

    <div class="row small-up-3 medium-up-4 large-up-6">
        @foreach (var manager in Model.Managers)
        {
            <div class="column column-block">
                @Html.DisplayFor(m => manager)
            </div>
        }
    </div>

</div>