@model Sociatis.Models.Training.TrainingIndexViewModel

<div class="text-center">
    <h3>Training Field</h3>
    @using (Html.BeginForm("Train", RouteDataHelper.ControllerName, FormMethod.Post))
    {
        <button id="trainButton" class="button blue @(Model.Trained ? "disabled" : "")">Train</button>
    }
</div>