@model Sociatis.Models.Training.TrainingDoneViewModel

<div class="text-center">
    <h3>You gained +@(Model.StrengthGain.ToString("N3"))</h3>
    <hr/>

    <h3>Training Field</h3>
    <button class="button blue disabled")">Train</button>
</div>