@model Sociatis.Models.Country.CountryInfoViewModel

@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "";
}

<div id="overallInfo" class="row ContentBox">
    <div class="row">
        <div class="small-3 medium-4 large-3 columns">
            <div class="infoAvatar">
                @Html.DisplayFor(m => m.CountryImage)
            </div>
        </div>
        <div class="small-9 medium-8 large-9 columns">
            <h5>@Html.ActionLink(Model.CountryName, "View", "Country", new { countryID = Model.CountryID }, null)</h5>
        </div>
    </div>
    @Html.DisplayFor(m => m.Menu)

</div>
