@model Sociatis.Models.Constructions.ConstructionManagersViewModel

@{
    ViewBag.Title = "Construction - managers";
}

@Html.DisplayFor(m => m.Info)

<div class="contentBox">
    <h4>Managers</h4>

    <div class="row small-up-1 medium-up-2 large-up-2">
        @foreach (var manager in Model.Managers)
        {
            <div class="column column-block">
                @Html.DisplayFor(m => manager.Avatar)
            </div>
        }
    </div>
</div>
