@{
    Layout = null;
    ViewBag.Title = "Day change";
}

<html>
<head>
    <link rel="shortcut icon" href="~/Content/images/icons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/images/icons/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

</head>
<body>

    <h4 class="text-center">Day change</h4>
    <div class="centerHorizontalFlex">
        <img src="~/Content/images/DayChange.gif" />
    </div>
</body>
</html>