@import "definitions.scss";



.countryCompanyOnView {
    background-color: rgba($rowBackground, 0.5);
    border: solid 1px rgba($rowBorder, 0.4);
    padding: 1rem 2rem;

    .companyInformations {
        margin-left : 2rem;
        .producedProduct {
            font-weight: bold;
        }

        .creationDay {
            font-weight: bold;
        }
    }
}
