@import "definitions.scss";



$inputBorder: #cacaca;
$inputBackground: #fefefe;

@mixin input-basic()
{
    width: 100%;
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    border: 1px solid #cacaca;
    border-radius: 0;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;

    &:focus
    {
        outline: none;
        border: 1px solid #8a8a8a;
        background-color: #fefefe;
        box-shadow: 0 0 5px #cacaca;
        transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    }
}


div.inputGroup
{
    display: inline-flex;

    input
    {
        display: inline;
    }

    .inputInfo
    {

        @include input-basic();
        color: $hintColor;
        min-width: 3.5rem;
        background-color: rgba($hintColor, 0.1);
        text-align: center;
        width: auto;

        div.inputGroup input + &, div.inputGroup div.inputDiv + & {
            border-left:none;
            }

        &:last-child
        {
            border-left: none;
        }

        &:first-child
        {
            border-right: none;
        }

        &.nonHint
        {
            color: black;
        }

        &.noMargin
        {
            margin: 0;
        }
    }
}
