@model Sociatis.Models.Congress.Votings.ViewChangeCitizenCompanyCostViewModel

<h4>Proposition #@Model.VotingID : Change citizen creation cost to <b>@Model.CreationFee</b> @Model.CurrencySymbol</h4>
by @Html.ActionLink(Model.CreatorName, "View", "Citizen", new { citizenID = Model.CreatorID }, null)