@model Sociatis.Models.Battle.ShortBattleParticipantViewModel

<div class="row battleParticipant centerVerticalFlex">
    <div class="small-5 columns miniAvatars emptyAvatar">
        &nbsp;
    </div>
    <div class="small-5 columns">
        &nbsp;
    </div>
    <div class="small-2 columns">
        &nbsp;
    </div>
</div>